{% extends "base.html" %}

{% block title %}Factura{% endblock %}

{% block content %}

{% load static %}
{% load humanize %}


<div class="container mt-5">
    <h1 class="">Facturacion</h1>
    <form action="{%url 'form_venta'%}" method="POST">
        {% csrf_token %}

        {{ venta_form.as_p }}

        <h3>Productos</h3>
        {{ detalle_formset.management_form }}
       
            <div class="detalle-forms">
                {% for form in detalle_formset %}
                <div class="detalle-form">
                    {{form.as_p}}
                </div>
                {% endfor %}
            </div>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
                <a href="{%url 'ventas'%}" class="btn btn-warning">Volver</a>
            </div>
        {% endif %}
            

        
        <button type="button" id="add-detalle" class="btn btn-success">
            <i class="fas fa-plus"></i> Agregar Producto
        </button>

        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> Guardar
        </button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log('DOM cargado');
        const addDetalleBtn = document.getElementById('add-detalle');
        const detalleForms = document.querySelector('.detalle-forms');
        const totalForms = document.querySelector('id_detalle_form-TOTAL_FORMS');

        addDetalleBtn.addEventListener('click', () => {
            console.log('click');
            const currentFormCount = detalleForms.children.length;
            const newForm = detalleForms.children[0].cloneNode(true);
            const formRegex = RegExp(`id_detalle_form-(\\d){1}-`, 'g');

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `id_detalle_form-${currentFormCount}-`);
            detalleForms.appendChild(newForm);
            totalForms.setAttribute('value', `${currentFormCount + 1}`);
            
        });
    });
</script>

{% endblock %}

