{% extends 'base.html' %}


{% block title %}Gestión de Inventario{% endblock %}

{% block content %}

{%load static%}

{% load humanize %}

<div class="container mt-5">
    <h1><i class="fas fa-user"></i> Creacion Cliente</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Datos Personales</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{cliente.nombre}}" required>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" value="{{cliente.apellidos}}" required>
                </div>

                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" value="{{cliente.direccion}}" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{cliente.email}}" required>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="{{cliente.telefono}}" required>
                </div>
            
        </div>

        <div class="col-md-6">
            <h3>Credito</h3>
            
                <div class="mb-3">
                    <label for="limite_credito" class="form-label">Limite de Credito</label>
                    <input type="number" class="form-control" id="limite_credito" name="limite_credito" value="{{cliente.limite}}" required>
                </div>

                <div class="mb-3">
                    <label for="saldo-credito" class="form-label">Saldo credito</label>
                    {% if cliente.saldo%}
                    <input type="number" class="form-control" id="saldo_credito" name="saldo_credito" value="{{cliente.saldo}}" disabled>
                    {% else %}
                    <input type="number" class="form-control" id="saldo_credito" name="saldo_credito" value="0" disabled>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="fas fa-save"></i>
                    Guardar Cliente
                </button>

            </form>

        </div>

</div>

{% endblock %} 