<div class='wrapper'>
    <aside id='sidebar'>
        <div class='d-flex'>
            <button class='toggle-btn' id='toggle-btn' type='button'>
                <i class="fas fa-bars"></i>
            </button>
        </div>
        
        <ul class="sidebar-nav">
            <div class='sidebar-logo ml-2' style="text-align: center;">
                <img src="https://i.ibb.co/rm097ZS/Designer-2.jpg" alt="Logo" style="border-radius:100px"/>
            </div>

            <li class="sidebar-item">
                <a href="{%url 'dashboard'%}" class="sidebar-link">
                    <i class="fas fa-tachometer-alt"></i>  
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{%url 'gestion_inventario'%}" class="sidebar-link">
                    <i class="fas fa-boxes"></i> 
                    <span>Gestion Inventario</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#cart" aria-expanded="false" aria-controls="cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Ventas y Reservas</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'ventas' %}" class="sidebar-link">Ventas</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'reservas' %}" class="sidebar-link">Reservas</a>
                    </li>
                </ul>
            </li>



            <li class="sidebar-item">
                <a href="{%url 'cliente'%}" class="sidebar-link">
                    <i class="fas fa-users"></i> 
                    <span>Clientes y Credito<span>
                </a>
            </li>

            {% comment %} <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fas fa-chart-line"></i> 
                    <span>Informes y Analisis<span>
                </a>
            </li> {% endcomment %}
        </ul>
        <div class="sidebar-footer">
            <a href="{%url 'logout'%}" class="sidebar-link">
                <i class="fas fa-sign-out-alt"></i> 
                <span>Logout<span>
            </a>
        </div>
    </aside>
    

<script>
    const hamBurger = document.querySelector(".toggle-btn");

    hamBurger.addEventListener("click", function () {
    document.querySelector("#sidebar").classList.toggle("expand");
    });
</script>